@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Title Value="Home"></Title>
<Link rel="icon" type="image/x-icon" href="/favicon.ico" />
